<!DOCTYPE html>
<html>
  <head>
    <title>Tinster Posts</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap CSS Framework-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- JavaScript for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <% if (user) { %>
            <ul class="nav navbar-dark bg-dark fixed-top nav-tabs">
                <div class="nav col">
                    <li class="nav-item"><a class="navbar-brand" href="/posts">Tinster</a></li>
                </div>
                <div class="nav navbar-dark bg-dark">
                    <li class="nav-item"><a href="/posts" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/posts/new" class="nav-link">Create Post</a></li>
                    <li class="nav-item"><a href="/posts/all" class="nav-link">My Posts</a></li>
                    <li class="nav-item"><a href="/logout" class="nav-link">Log Out</a></li>
                </div>
            </ul>
        <% } %>
      </nav>
  </header>
    <main>
        <div class="text-center flex-ctr">
        <h3>
          <% if (post.title) { %>
            <%= post.title %>
          <% } else { %>
            Post
          <% } %>
        </h3>
                <div class="post">
                    <ul>
                        <li>
                          <div class="show-image">
                            <img src="<%= post.img %>" alt="Cannot find image">
                            <% if (post.likes.includes(user._id)) { %>
                                <form name="remove-like-form" action="/likes/<%= post._id %>?_method=DELETE" method="post">
                                    <button class="liked" type="submit">Liked</button>
                                </form>
                            <% } else { %>
                                <form name="add-like-form" action="/posts/<%= post._id %>/likes" method="POST">
                                    <button class="like" type="submit">Like</button>
                                </form>
                            <% } %>
                          </div>
                        </li>
                        <span>
                          <% if (user.avatar) { %>
                              <img src="<%= user.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                          <% } else { %>
                              <i class="small material-icons">perm_identity</i>
                          <% } %>
                        </span>
                        <span>
                          <%= post.username %>
                        </span>
                        <li><%= post.description %></li>
                        <li>
                          <% if (post.likes.length === 1) { %>
                            <%= post.likes.length %> Like
                          <% } else { %>
                            <%= post.likes.length %> Likes
                          <% } %>
                        </li>
                    </ul>
                    <p> Created on <%= post.createdAt%></p>
                    <div>
                        <h5>Comments</h5>
                        <form id="add-comment-form" action="/posts/<%= post._id %>/comments" method="POST">
                          <input type="text" name="commentText" placeholder="Add Comment">
                          <input type="submit" value="Add Comment">
                        </form>
                    </div>
                    <br><hr>
                    <% if (post.comments.length) { %>
                      <% for (let i = post.comments.length - 1; i >= 0; i--) { %>
                          <span class="card-title">
                            <% if (user.avatar) { %>
                              <img src="<%= user.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                            <% } else { %>
                              <i class="small material-icons">perm_identity</i>
                            <% } %>                        
                          </span>
                          <h6><%= post.comments[i].username %></h6>
                          <p><%= post.comments[i].commentText %></p>
                          <% if (post.comments[i].userId.equals(user._id)) { %>
                            <form action="/comments/<%= post.comments[i]._id %>?_method=DELETE" method="POST">
                              <button type="submit">X</button>
                            </form>
                          <% } %>
                          <p> Created on <%= post.comments[i].createdAt%></p>
                      <% } %>
                    <% } else { %>
                      <h6>No comments</h6>
                    <% } %>
                </div>
        </div>
    </main>
    
  </body>
</html>